<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DjangoCeleryTest</title>
    <style>
        .box{
            position: absolute;
            left: 50%;
            margin: 100px 0 0 -300px;
        }

    </style>
</head>
<body bgcolor="#000000">

<div class="box">
    <div>
        <h3 style="color: white">API dream01</h3>
        <p><a href="{% url 'api-dream01:hello' %}">Hello</a></p>
        <h3 style="color: white">API dream01 Task </h3>
        <p><a href="{% url 'api-dream01:task-add' %}">Add</a></p>
        <h3 style="color: white">API dream01 Task Run</h3>
        <p><a href="{% url 'api-dream01:task-run' %}?task=add">Add</a></p>
        <p><a href="{% url 'api-dream01:task-run' %}?task=print_lines">Print Lines </a></p>
    </div>
</div>

</body>
</html>